
body{
    /* background-color: black; */
    background-image: url(images/IMG-20171122-WA0005.jpg);
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position: center;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    height: 100%;
    color: thistle;

}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
    background-color: transparent;
}




header {
   
    height: 600px;
    
    
}



/* nav {
    background-color: rgba(255, 115, 0, 0.308);
    height: 60px;
    width: 100%;
    color: black;
} */

main{
    /* height: 400px; */
    font-size: 15px;
    color:blue;
    word-spacing: 7.5px;
    

}


footer{
    background-color: rgb(235, 86, 0);
    height: 50px;
    

}
h2 {
    font-size:40px;
    color:rgb(1, 1, 255);
    font-style: oblique;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 1cm;
    padding-left: 1cm;   
}

h3 { 
    font-size: 30px;
    color:rgb(1, 1, 255);
}

h4 { 
    font-size: 50px;
    color:rgb(1, 1, 255);
    font-style: oblique;
}

html{
    scroll-behavior: smooth;
    height: 100%;
    
}
/* 
ul {
    padding:0;
    width: 0;
    list-style: 0;

}

li { 
    float: right;
} */

/* a{
    padding:450px;
    width: 100px;
    display:block;
    text-decoration: none;
     color: rgb(255, 255, 255); 
     text-transform: uppercase;
    font-weight: bolder; 
} */

#section1{
    /* height: 700px; */
    /* background-color: lightgoldenrodyellow; */
    /* display: inline-block; */
    /* width: 100%; */
    /* padding: 200px; */
    /* text-align: center; */
}

h1{
    margin: 100px;
    padding: o;
    text-align: center;
}

footer p{
    font-size: 15px;
    text-align: center;
    color: lightgoldenrodyellow;
    float: center;
    padding-top: 0.5cm;
}
footer{
    width:100%;
}

nav{
    background-color: rgba(255, 115, 0, 0.308);
    height: 60px;
    width: 100%;
    color: black;  
    display: inline-block;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
}

nav ul{
    float:center;
    list-style: none;
}

nav ul li{
    float: left;
    padding-left: 50px;

}

nav ul li a{
    text-decoration: none;
    color: whitesmoke;
    text-transform: uppercase;
    font-size: large;
}


div p {
    text-align: center;
    color: rgb(255, 247, 247);
    font-size: large;
}

div ul li {
    text-decoration: none;
    color: rgb(255, 247, 247);
    text-align: center;
    font-size: larger;
    list-style: none;
    text text-size-adjust: 20px;
}