header {
    background-color: black;
    height: 118px;
    width: 1024px;
}

nav {
    background-color: red;
    height: 40px;
    width: 1024px;

}

main{
    background-color: rgb(0, 0, 0);
    height: 40px;
    width: 1024px;

}

footer {
    background-color: rgb(206, 206, 77);
    height: 40px;
    width: 1024px;

}